/* Add a comment here */

body {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

div {
    background-color: rgb(32, 116, 128);
}
a {
    background-color: rgb(32, 116, 128);
}
